*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #00008b;
    --secondary-color: #eee;
}

body{
    font-size: 16px;
    font-family: roboto, arial, sans-serif;
}
nav{
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}


main{
    max-width: 840px;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}



aside{
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2{
    position: absolute;
    top: 47px;
    left: 85px;
}

aside img{
    width: 200px;
    height: auto;
}

p {
    padding: 0;
    margin: 1rem;
}

footer{
    margin-top: 1rem;
    border-top: 1px solid #000;
    text-align: center;
}

/*Class Selectors*/

.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent{
    padding-left: 2rem;
}